@import url(./cores.css);
@import url(./responsiv.css);
@import url(./tipografia.css);

* {
  font-family: "Roboto", sans-serif;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
}


input.textcity {
  background-color: transparent;
  color: rgb(1, 2, 9);
  border: none;
  height: 32px;
  width: 270px;
  padding: 12px;
}

button.btnclima {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
