input {
    color: rgb(13, 13, 14);
    border: none;
    border-radius: 6px;
    background-color: rgb(237, 237, 238);
}

input.textcity{
    padding: 12px;
    height: 32px;
    width: 270px;
    font-weight: 800;
    font-size: 22px;    
}

span.btnclima{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
