
input.textcity{
    background-color: transparent;
    border: none;
    height: 32px;
    width: 270px;
    padding: 12px;
    font-weight: 800;
    font-size: 22px;
}

button.btnclima{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
